/sesiones/ConceptosBasicos/nbproject/private/
/sesiones/ConceptosBasicos/build/
/sesiones/ReutilizacionDeCodigo/nbproject/private/
/sesiones/ReutilizacionDeCodigo/build/
/sesiones/LibroComposicion/nbproject/private/
/sesiones/LibroComposicion/build/
/sesiones/ReutilizacionDeCodigo/dist/
/tareas/LibroComposicion/nbproject/private/
/tareas/Libro/nbproject/private/
/tareas/Libro/build/
